@media screen and (max-width: 850px){
    .HeroInfo{
        flex-direction: column;
    }
    .TextoInfo{
        width: 80%;
    }
    .imagemInfo{
        width: 80%;
    }
    #imgLeft{
        display: none;
    }
    #imgRight{
        display: flex;
    }
}

@media screen and (max-width: 650px){
    #OtherMenu{
        display: flex;
    }
    .menuLinks{
        display: none;
    }
    .logo{
        display: none;
    }
    .menuLinksCollapse{
        display: flex;
    }



    #imgBg{
        width: 130%;
        height: 700px;
        transition: 1s;
    }
    .heroConteudo{
        margin-left: -130%;
        height: 700px;
    }
    .heroConteudo h1{
        font-size: 36px;
    }
    .heroConteudo p{
        font-size: 22px;
    }
    .heroConteudo img{
        width: 35%;
    }

    .TextoInfo h1{
        font-size: 5.8vw;
        line-height: 100%;
    }
}
